@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: peachpuff;
  background-size: 16px 16px;
  background-attachment: fixed;
}
#root {
  max-width: 1280px;
  width: 420px;
  height: 540px;
  background-color: #ffefd5;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 2rem;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 424px) {
  #root {
    height: 100%;
  }
  p {
    font-size: 1rem;
  }
}
